
#div-start {
	padding-top: 0;
}

#div-number-of-players {
	padding-top: 0;
}

#div-names-of-players {
	padding-top: 0;
}

#div-game-play {
	padding-top: 0;
}

#div-game-result {
	padding-top: 0;
}

#div-history {
	padding-top: 0;
}

.line-padding {
	padding: 10px;
}

#btn-group {
	position: relative;
	bottom: 0px;
}

#game-table {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.game-play-name {
	width: 200px;
}

.game-play-bids .game-play-wins {
	width: 200px;
}

.td-padding {
	width: 20px;
}

.round-points {
	width: 50px;
}

.total-points {
	width: 100px;
}

.disabled {
    opacity: 0.5;
}