<div id="div-game-play">
    <h1>Let's Play {{numOfGameRounds}} Rounds for This Game</h1>
    <div ng-repeat="round in rounds">
        <h3>{{round.name}}</h3>
        <table>
            <tr ng-repeat="name in names">
                <td class="game-play-name">{{name.value}}</td>
                <td class="game-play-bids"><input class="form-control" placeholder="bids for {{round.name}}" /></td>
                <td class="td-padding"></td>
                <td class="game-play-wins"><input class="form-control" placeholder="wins for {{round.name}}" /></td>
                <td class="round-points">xx</td>
                <td class="td-padding"></td>
                <td class="total-points">TOTAL: xxx</td>
            </tr>
        </table>
        <div class="line-padding"></div>
    </div>
</div>

<div id="btn-group">
    <a class="btn btn-primary btn-lg" role="button" id="btn-back" href="#/names-of-players">BACK</a>
    <a id="btn-invisible" style="padding-left: 20%; padding-right: 20%;"></a>
    <a class="btn btn-primary btn-lg" role="button" id="btn-next" href="#/game-result">NEXT</a>
</div>
