<div id="div-game-play">
    <h1>Let's Play {{GamePlayCtrl.rounds.length}} Rounds for This Game</h1>
    <div ng-repeat="score in GamePlayCtrl.scores">
        <h3>{{score.roundName}} - ({{score.cards}} Cards)</h3>
        <table>
            <tr ng-repeat="detail in score.details">
                <td class="game-play-name">{{detail.playerName}}</td>
                <td class="game-play-bids"><input class="form-control" ng-keyup="GamePlayCtrl.update()" ng-model="detail.roundBids" placeholder="bids for {{score.roundName}}" /></td>
                <td class="td-padding"></td>
                <td class="game-play-wins"><input class="form-control" ng-keyup="GamePlayCtrl.update()" ng-model="detail.roundWins" placeholder="wins for {{score.roundName}}" /></td>
                <td class="round-points">{{detail.roundScore}}</td>
                <td class="td-padding"></td>
                <td class="total-points">TOTAL: {{detail.totalScore}}</td>
            </tr>
        </table>
        <div class="line-padding"></div>
    </div>
</div>

<div id="btn-group">
    <a class="btn btn-primary btn-lg" role="button" id="btn-back" href="#/names-of-players">BACK</a>
    <a id="btn-invisible" style="padding-left: 20%; padding-right: 20%;"></a>
    <a class="btn btn-primary btn-lg" role="button" id="btn-next" href="#/game-result">NEXT</a>
</div>
