<div id="div-number-of-players">
    <h1>NUMBER OF PLAYERS</h1>
    <div id="line-padding"></div>
    <div id="slider"></div>
    <h1 id="number">{{playerNumbers.selectedOption.id}}</h1>
    <div id="line-padding"></div>

    <!--TODO: Find a good looking AngularJS slider-->
    <select ng-options="option.name for option in playerNumbers.availableOptions track by option.id" ng-model="playerNumbers.selectedOption"></select>
</div>

<div id="btn-group">
    <a class="btn btn-primary btn-lg" role="button" id="btn-back" href="#/start">BACK</a>
    <a id="btn-invisible" style="padding-left: 20%; padding-right: 20%;"></a>
    <a class="btn btn-primary btn-lg" role="button" id="btn-next" href="#/names-of-players">NEXT</a>
</div>

