<div id="div-number-of-players">
    <h1>NUMBER OF PLAYERS: {{playerNumbers.selectedOption.id}}</h1>
    <div class="line-padding"></div>
    <form name="playerNumbersForm">
        <select class="form-control" name="playerNumberSelect" id="playerNumberSelect" title="Choose a number" ng-options="option.name for option in playerNumbers.availableOptions track by option.id" ng-model="playerNumbers.selectedOption">
        </select>
    </form>

    <div class="line-padding"></div>
    <div class="line-padding"></div>

</div>

<div id="btn-group">
    <a class="btn btn-primary btn-lg" role="button" id="btn-back" href="#/start" ng-click="goBackToStartPage()">BACK</a>
    <a id="btn-invisible" style="padding-left: 20%; padding-right: 20%;"></a>
    <a class="btn btn-primary btn-lg" role="button" id="btn-next" href="#/names-of-players" ng-click="goNextToPlayerNamesPage()">NEXT</a>
</div>

